html,
body {
  padding: 0;
  margin: 0;
  background-color: #ede1d7;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow-x: clip;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  color: #6c360b;
  border-bottom: 2px solid #6c360b;
  height: 60px;
  h1 {
    margin: 0;
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
  text-align: center;
}

.nav div {
  cursor: pointer;
}

.nav div:hover,
.sign-up:hover {
  color: rgb(124, 104, 203);
}

header > div:last-child {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

button {
  border: 2px solid #6c360b;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  color: #6c360b;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.15s ease, color 0.15s ease;
}

.sign-up {
  cursor: pointer;
}

button:hover {
  background-color: #6c360b;
  color: white;
}

main {
  padding: 30px 50px;
}

.hero {
  align-items: center;
  display: flex;
  padding: 50px 80px;
  font-family: "Romanesco", cursive;
  border: 2px solid #6c360b;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hero h1 {
  color: #6c360b;
  font-size: 100px;
  margin: 0;
  line-height: 1;
}

.hero p {
  font-size: 30px;
  margin: 0;
}

.hero button {
  background-color: #6c360b;
  color: white;
  margin-top: 20px;
  transition: background 0.15s ease, color 0.15s ease border 0.15s ease;
}

.hero button:hover {
  border: 2px solid #6c360b;
  color: #6c360b;
  background-color: transparent;
}

.hero > :nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  border-right: 2px solid #6c360b;
}

.hero > :nth-child(1) > :nth-child(1) {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 20px solid #6c360b;
}

.hero img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.hero > :nth-child(1) > :nth-child(2) {
  gap: 30px;
}

.hero > :nth-child(1) > :nth-child(2) h1 {
  font-size: 70px;
  line-height: 1;
}

.hero > :nth-last-child(1) {
  flex: 1;
}

.hero .welcome-para {
  margin-left: 35px;
}

.cafe-label {
  font-size: 25px;
}

.card-container {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  column-gap: 20px;
  width: 90%;
  max-width: 1400px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin: 0 auto;
  box-shadow: inset 2px 2px 5px gray;
}

.card-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: #6c360b;
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
  color: #ede1d7;
}

.card .product-img {
  width: 180px;
  height: 150px;
  border: 4px solid #d59d70;
  border-radius: 10px;
  margin: 0 auto;
}

.card .product-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.card .product-name {
  font-size: 25px;
  margin-top: 10px;
}

.card .product-price {
  font-size: 30px;
}

.card .order-btn-box {
  margin: 0 auto;
}

.card button {
  background-color: #d59d70;
  color: #6c360b;
  font-weight: bold;
  padding: 10px 45px;
}

.card button:hover {
  border-color: #d59d70;
  color: #d59d70;
  background-color: transparent;
}

.arrow-btns {
  margin: 20px auto 0;
  width: 80%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  max-width: 1400px;
}

.stories-section {
  margin-top: 30px;
}

.stories-section > :nth-child(2) {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px 40px;
}

.stories-section h1,
.coffeeAndTea h1 {
  font-size: 50px;
  color: #6c360b;
}

.post {
  display: flex;
  column-gap: 30px;
  font-size: 35px;
  margin-bottom: 20px;
}

.post h3 {
  margin: 0;
}

.post-1,
.post-2 {
  padding: 20px 0;
  border-bottom: 2px solid #6c360b;
}

.post .image {
  width: 300px;
  height: 350px;
  border: 20px solid #6c360b;
  border-radius: 10px;
}

.post img {
  width: inherit;
  height: inherit;
}

.post-3 .image {
  width: 400px;
  height: 300px;
}

.share-stories {
  margin-top: 20px;
  font-size: 20px;
  color: #6c360b;
  text-decoration: underline;
}

.share-stories span {
  font-weight: bold;
}

footer {
  background-color: #f9f5f1;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 12px 0;
  font-size: 20px;
  color: #555;
}

footer span {
  font-weight: 600;
}

@media (max-width: 1300px) {
  .hero h1 {
    font-size: 60px;
  }
}

@media (max-width: 1100px) {
  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 25px;
  }

  .nav {
    font-size: 16px;
  }

  .post {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  header {
    padding: 0 5px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    h1 {
      font-size: 20px;
    }
  }

  .nav {
    display: none;
  }

  main {
    padding: 30px 15px;
    margin: 0;
  }

  .hero {
    flex-direction: column;
    padding: 50px 30px;
  }

  .hero > :nth-child(1) {
    border-right: none;
    border-bottom: 2px solid #6c360b;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .hero > :nth-child(1) > :nth-child(1) {
    width: 60%;
    height: 60%;
  }

  .hero .welcome-para {
    margin-left: 0;
  }

  .hero > :nth-child(1) > :nth-child(2) h1 {
    font-size: 50px;
    line-height: 1;
  }

  .stories-section > :nth-child(2) {
    padding: 20px 20px;
  }

  .card {
    width: 150px;
  }

  .card .product-img {
    width: 135px;
  }

  .card .product-name,
  .card .product-price {
    font-size: 20px;
  }

  .post {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
  }

  .post .image {
    width: 250px;
    margin: 0 auto;
  }

  .post img {
    width: 100%;
  }

  .post-2 {
    flex-direction: column-reverse;
  }
}

@media (max-width: 371px) {
  .order {
    font-size: 12px;
  }

  .post .image {
    width: 220px;
  }
}
